<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QCBDManagementCommon.Properties.Settings.user5689a4ConnectionString"
            connectionString="Data Source=BAHILO-PC\SQLEXPRESS;Initial Catalog=user5689a4;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QCBDManagementCommon.Properties.Settings.QCBDDatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\App_Data\QCBDDatabase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>